.fadeout {
  animation-name: anim-fadeout;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.fadein {
  animation-name: anim-fadein;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes anim-fadeout {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes anim-fadein {
  0% {opacity: 1;}
  100% {opacity: 0;}
}