button {
  height: 2rem;
}

h2 > span {
  float: right;
}

.active-key {
  color: magenta;
}

.show-key {
  opacity: 1;
}

.hide-key {
  opacity: 0;
}

.output > span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.fade-out {
  animation: fadeout-anim 0.5s ease-in-out 1 both;
}
.fade-in {
  animation: fadein-anim 0.5s ease-in-out 1 both;
}

@keyframes fadeout-anim {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadein-anim {
  0% { opacity: 0; }
  100% { opacity: 1; }
}