.alphabet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  border: 0.5px solid gray;
  height: 2em;
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.letter-list {
  position: absolute;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
}

.video-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2rem;
  max-height: 2rem;
  min-width: 2rem;
  max-width: 2rem;
}

.shift-amount {
  color: white;
  font-size: 4rem;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hl-letter {
  animation: grow 0.5s ease-in-out 0s 1 normal forwards;
}

@keyframes grow {
  0% {scale: 1;}
  100% {scale: 2;}
}