*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --header-height: 60px;
  --fg-color-1: rgb(238, 238, 238);
  --fg-color-2: rgb(221, 212, 212);
  --bg-color-1: rgb(111, 111, 111);
  --bg-color-2: rgb(58, 58, 58);
}

input,
.box {
  border-radius: 5px;
}

.box {
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}

.hint {
  background-color: rgba(34, 139, 34, 0.60);
  padding: 0 10px;
  border-radius: 5px;
  max-height: calc(1rem + 10px);
  overflow-y: hidden;
  transition: max-height 0.6s ease-in-out;
  color:rgb(255, 255, 255)
}

.hint:hover {
  max-height: 500px;
}

.hint p:first-child {
  margin: 5px 0;
  font-weight: bold;
}

.video-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.video-chapter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.video-chapter > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: min(320px, 100%);
}

.video-chapter > ul > li {
  flex-grow: 1;
  background-color: var(--bg-color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--fg-color-1)
}

.video-chapter > ul > li:hover {
  background-color: var(--bg-color-2);
  cursor: pointer;
}

.video-chapter > ul > li.chapter-active {
  background-color: var(--bg-color-2);
}