*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --header-height: 60px;
  --fg-color-1: rgb(238, 238, 238);
  --fg-color-2: rgb(221, 212, 212);
  --bg-color-1: rgb(111, 111, 111);
  --bg-color-2: rgb(58, 58, 58);
}

input,
.box {
  border-radius: 5px;
}

.box {
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}