main {
  margin: 10px auto;
  /* border: 1px solid grey; */
  border-radius: 5px;
  width: clamp(480px, 80vw, 1080px);
  padding-bottom: 60px;
  position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chapter::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chapter {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.chapter {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 10px;
}

.footer button {
  background-color: rgb(33, 143, 33);
  color: white;
  border: 2px solid rgb(22, 96, 22);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.3rem;
}

.footer button:hover {
  background-color: rgb(22, 96, 22);
}