.side-nav {
  width: clamp(300px, 25vw, 400px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: var(--bg-color-1);
  padding: 0;
  margin: 0;
}

.side-nav li {
  list-style: none;
}

.side-nav li a {
  padding: 20px 5px 20px 15px;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--fg-color-1);
  transition: color 0.3s ease-in-out;
}

.side-nav li a:hover {
  color: var(--fg-color-2);
}
.side-nav li:hover,
.side-nav li:has(a.active),
.side-nav li a.active {
  background-color: var(--bg-color-2);
}

.quiz-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}